version: '3.8'

services:
  app:
    build: .
    ports:
      - "4000:4000"
    environment:
      - PORT=4000
      - MONGO_URI=mongodb://mongodb:27017/excelDB
      - CONSUL_HOST=localhost
      - SERVICE_ADDRESS=app
    depends_on:
      - mongodb
      # - consul
    volumes:
      - ./uploads:/usr/src/app/uploads

  # consul:
  #   image: hashicorp/consul:latest
  #   ports:
  #     - "8500:8500"
  #     - "8600:8600/udp"
  #   command: "agent -dev -client=0.0.0.0"

  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data: